<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>
      <ion-icon name="trophy"></ion-icon>&nbsp;&nbsp;Compétitions</ion-title>
    <ion-buttons end>
      <button ion-button end (click)="logout()" style="font-size: 18px">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list radio-group [(ngModel)]="currentCompetitionId">
    <ion-list-header>
      En cours
    </ion-list-header>

    <ion-item *ngIf="!openCompetitions.length" style="color: grey">
      Aucune compétition en cours
    </ion-item>
    <ion-item-sliding *ngFor="let competition of openCompetitions; let i=index">
      <ion-item>
        <ion-label>
          <ion-row>
            <ion-col col-1>{{ i+1 }}</ion-col>
            <ion-col col-4>
              <span class="capitalize">{{ competition.titre }}</span>
            </ion-col>
            <ion-col col-2>
              <span class="uppercase">{{ competition.type.name }} </span>
            </ion-col>

            <ion-col col-2>
              <span class="uppercase">{{ competition.judgingSystem | judgingSystem }}</span>
            </ion-col>
            <ion-col col-3>{{ competition.date | formatDate }}</ion-col>
          </ion-row>
        </ion-label>
        <ion-radio value="{{ competition.id }}">{{ competition.id }}</ion-radio>
      </ion-item>

      <ion-item-options side="left" (click)="closeCompetition(competition, i)">
        <button ion-button>
          <ion-icon name="lock"></ion-icon>
        </button>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button icon-only color="danger" (click)="deleteCompetition(competition, i)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list radio-group [(ngModel)]="currentCompetitionId">
    <ion-list-header>
      Clôturées
    </ion-list-header>
    <ion-item *ngFor="let competition of closedCompetitions; let i=index">
      <ion-label>
        <ion-row>
          <ion-col col-1>{{ i+1 }}</ion-col>
          <ion-col col-4>
            <span class="capitalize">{{ competition.titre }}</span>
          </ion-col>
          <ion-col col-2>
            <span class="uppercase">{{ competition.type.name }}</span>
          </ion-col>
          <ion-col col-2>
            <span class="uppercase">{{ competition.judgingSystem }}</span>
          </ion-col>
          <ion-col col-3>{{ competition.date | formatDate }}</ion-col>
        </ion-row>
      </ion-label>
      <ion-radio value="{{ competition.id }}">{{ competition.id }}</ion-radio>
    </ion-item>
  </ion-list>
</ion-content>



<ion-footer>
  <ion-toolbar text-center>
    <button class="add-competition-btn" color="secondary" icon-only ion-button icon-left (click)="openAddCompetitionPopover()"
      tappable>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>