page-competitions {
  .add-competition-btn {
    margin: 32px auto;
  }

  ion-list-header {
    text-transform: uppercase !important;
    font-size: 1.8rem !important;
  }

  ion-list {
    margin-top: 64px !important;
  }

  ion-label {
    font-size: 1.4rem !important;
  }
}