page-login {
  .item-ios.item-block .item-inner {
    border-bottom: none;
  }

  .competition-info {
    padding-top: 0;
    font-size: 12px;
    // font-weight: bold;
  }

  .competition-info-label {
    font-size: 10px;
    color: #757575;
  }

  .judge-btn {
    // height: 50px;
    // width: 232px;
    margin-top: 32px;
  }

  .badge {
    font-size: 32px;
    background-color: #838481;
    box-shadow: 2px 2px #434c44;
  }

  .competition-infos {
    padding-left: 0;
    border-bottom: none;
  }

  ion-badge {
    margin-left: 16px;
    margin-right: 16px;
  }

  ion-card-header {
    background-color: #fff;
  }

  .title {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 5px;
  }

  .connexion {
    display: block;
    margin: 8px auto;
  }

  .login-card {
    width: 400px;
    margin: 0 auto 16px;
  }
}
