page-login {

.item-ios.item-block .item-inner {
    border-bottom: none;
  }

  .judge-btn {
    height: 50px;
    width: 232px;
    margin-top: 32px;
  }

  .badge {
    font-size: 32px;
  }

  .competition-infos {
    padding-left: 0;
    border-bottom: none;
  }

  ion-badge {
    margin-left: 8px;
  }

  ion-card-header {
    background-color: #fff;
  }

  .title {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 5px;
  }

  .connexion {
    display: block;
    margin: 8px auto;
  }


  .login-card {
    width: 400px;
    margin: 0 auto 16px;
  }
}