<ion-header>
  <ion-toolbar>
    <ion-title text-center style="padding-bottom: 8px;">
      <h6>JUDGING SYSTEM 2.0</h6>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #f5f5f5">
  <ion-grid>
    <div text-center style="margin: 32px 0;" *ngIf="!judgeId || judgeId == 'null' && currentCompetition" class="config-error-msg">
      <ion-icon name="alert" color="danger"></ion-icon>&nbsp; Votre feuille n'a pas été configurée, veuillez vous réferer au scrutateur.
    </div>
    <div text-center style="margin: 32px 0;" *ngIf="!currentCompetition" class="config-error-msg">
      <ion-icon name="information-circle" color="primary"></ion-icon>&nbsp; Aucune competition active
    </div>

    <ion-item *ngIf="currentCompetition" text-center>
      <ion-icon name="trophy"></ion-icon>&nbsp;&nbsp;<span class="uppercase">{{ currentCompetition.titre }}</span> - {{ currentCompetition.type.name
      }}
    </ion-item>
    <ion-item style="width: 270px; margin:32px auto;" *ngIf="currentCompetition">
      <ion-label>Danse</ion-label>
      <ion-select [(ngModel)]="danseSelected">
        <ion-option value="{{ danse.identifier }}" *ngFor="let danse of danses">{{ danse.name }}</ion-option>
      </ion-select>
    </ion-item>

    <div *ngIf="judgeId && judgeId != 'null' && currentCompetition">
      <button ion-button (click)="connectJuge()" icon-end color="secondary" class="connexion judge-btn">
          FEUILLE JUGE &nbsp;
          <ion-badge>
            <span class="capitalize">{{ judgeId }}</span>
          </ion-badge>
          <ion-icon name="arrow-forward"></ion-icon>
        </button>

    </div>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar text-center>
    <button ion-button (click)="presentPopover()">
      <ion-icon name="stats"></ion-icon>&nbsp;&nbsp;
      SCRUTATION</button>
  </ion-toolbar>
</ion-footer>