page-login {

  ion-card-header {
    background-color: #fff;
  }

  .title {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 5px;
  }

  .connexion {
    display: block;
    margin: 8px auto;
  }

  .judge-btn {
    margin-top: 64px;
  }

  .login-card {
    width: 400px;
    margin: 0 auto 16px;
  }
}