<ion-header>
  <ion-toolbar>
    <ion-title text-center style="padding-bottom: 8px;">
      <h6>JUDGING SYSTEM 2.1</h6>
    </ion-title>
    <ion-buttons right>
      <button ion-button end (click)="sync()" style="font-size: 24px">
        <ion-icon name="sync"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #f5f5f5">
  <ion-grid>

    <ion-item *ngIf="currentCompetition" text-center class="competition-infos">
      <ion-icon name="trophy"></ion-icon>
      <div class="uppercase" style="font-size: 24px; padding: 16px">{{ currentCompetition.titre }}</div>
      <div style="padding: 8px">{{ currentCompetition.type.name }}</div>
      <div style="font-size: 12px; color: grey;">{{ currentCompetition.date | formatDate }}</div>
    </ion-item>

    <div text-center style="margin: 32px 0;" *ngIf="(!judgeId || judgeId == 'null') && (currentCompetition && !currentCompetition.closed)"
      class="config-error-msg">
      <ion-icon name="alert" color="danger"></ion-icon> Votre feuille n'a pas été configurée, veuillez vous réferer au scrutateur.
    </div>
    <div text-center style="margin: 32px 0;" *ngIf="!currentCompetition" class="config-error-msg">
      <ion-icon name="information-circle" color="primary"></ion-icon> Aucune competition active
    </div>

    <div text-center style="margin: 32px 0;" *ngIf="currentCompetition && currentCompetition.closed" class="config-error-msg">
      <ion-icon name="information-circle" color="primary"></ion-icon> Cette compétition est clôturée
    </div>

    <ion-item style="width: 270px; margin:32px auto;" *ngIf="currentCompetition && !currentCompetition.closed">
      <ion-label>Danse</ion-label>
      <ion-select [(ngModel)]="danseSelected">
        <ion-option value="{{ danse.identifier }}" *ngFor="let danse of danses">{{ danse.name }}</ion-option>
      </ion-select>
    </ion-item>

    <div *ngIf="judgeId && judgeId != 'null' && currentCompetition && !currentCompetition.closed">
      <button ion-button (click)="connectJuge()" icon-end color="secondary" class="connexion judge-btn">
        JUGE
        <ion-badge>
          <span class="capitalize">{{ judgeId }}</span>
        </ion-badge>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </div>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar text-center>
    <button ion-button (click)="presentPopover()">
      <ion-icon name="stats"></ion-icon>
      SCRUTATION</button>
  </ion-toolbar>
</ion-footer>