<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>
      <ion-icon name="cog"></ion-icon>&nbsp;&nbsp;Réglages</ion-title>
    <ion-buttons end>
      <button ion-button end (click)="logout()" style="font-size: 18px">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list radio-group [(ngModel)]="judgeId" (ionChange)="saveJudgeId()">
    <ion-list-header>
      <ion-icon name="people" class="title-icon"></ion-icon>
      &nbsp;&nbsp;Attribuer cette tablette au
    </ion-list-header>

    <ion-item>
      <ion-label>AUCUN JUGE</ion-label>
      <ion-radio value="null"></ion-radio>
    </ion-item>

    <ion-item *ngFor="let judgeAlias of judgeAliases">
      <ion-label>JUGE <span class="uppercase">{{ judgeAlias }}</span></ion-label>
      <ion-radio value="{{ judgeAlias }}"></ion-radio>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="dossardAliases">
    <ion-list-header>
      <ion-icon name="bookmark" class="title-icon"></ion-icon>&nbsp;&nbsp; Assignation des dossards
    </ion-list-header>
    <ion-item *ngFor="let dossardNumber of dossards; let i=index">
      <ion-label fixed>Dossard {{ dossardNumber }}</ion-label>
      <ion-input [(ngModel)]="dossardAliases[i]" type="text"></ion-input>
    </ion-item>
  </ion-list>


</ion-content>