<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>
      <ion-icon name="cog"></ion-icon>Réglages
    </ion-title>
    <ion-buttons end>
      <button ion-button end (click)="logout()" style="font-size: 18px">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-row style="margin-top: 64px;">
    <ion-col col-12 text-center *ngIf="(competition && competition.closed) || !competition">
      <ion-icon name="information-circle" color="primary"></ion-icon> Les configurations ne sont pas disponibles car
      vous n'avez pas de compétition active
    </ion-col>
  </ion-row>

  <ion-list radio-group [(ngModel)]="judgeId" (ionChange)="saveJudgeId()" *ngIf="competition && !competition.closed">
    <ion-list-header>
      <ion-icon name="people" class="title-icon"></ion-icon>
      Attribuer cette tablette au
    </ion-list-header>
    <ion-item>
      <ion-label>AUCUN JUGE</ion-label>
      <ion-radio value="null"></ion-radio>
    </ion-item>
    <ion-item *ngFor="let judgeAlias of judgeAliases">
      <ion-label>JUGE
        <span class="uppercase">{{ judgeAlias }}</span>
      </ion-label>
      <ion-radio value="{{ judgeAlias }}"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-row *ngIf="dossardAliases && competition && !competition.closed">
    <ion-list-header>
      <ion-icon name="bookmark" class="title-icon"></ion-icon>Assignation des dossards
    </ion-list-header>
    <ion-col col-1 class="dos-cell" *ngFor="let dossardNumber of dossards; let i=index">
      <ion-label class="dossard-label">{{ i }}</ion-label>
      <ion-input [(ngModel)]="dossardAliases[i]" type="text"></ion-input>
    </ion-col>
  </ion-row>

  <ion-grid *ngIf="competition && competition.judgingSystem && competition.judgingSystem == SKATING">
    <ion-list>
      <ion-list-header>
        <ion-icon name="list" class="title-icon"></ion-icon>Nombre de passages (max 4)
      </ion-list-header>
      <ion-item>
        <ion-label fixed>Nb.</ion-label>
        <ion-input [(ngModel)]="nombrePassages" type="text"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-icon name="barcode"></ion-icon>Délimitation des passages [...[
      </ion-list-header>
      <ion-item *ngFor="let passage of rangeNombrePassages; let i = index;">
        <ion-label fixed>Passage {{ passage + 1 }}</ion-label>
        <ion-input [(ngModel)]="passages[i]" type="text"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-icon name="contacts" class="title-icon"></ion-icon>Callback (skating system)
      </ion-list-header>
      <ion-item>
        <ion-label fixed>Nb.</ion-label>
        <ion-input [(ngModel)]="nombreSelection" type="text"></ion-input>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>