page-settings {
  .title-icon {
    font-size: 32px;
    vertical-align: middle;
  }

  ion-content {
    background-color:#f8f8f8 !important;
  }

  ion-label.dossard-label {
    font-size: 10px;
    color: rgba(128, 128, 128, 0.384);
    margin: 0;
  }

  ion-list-header {
    text-transform: uppercase !important;
    font-size: 1.4rem !important;
    background-color:#f8f8f8 !important;
  }

  .dos-cell:nth-child(-n+13) {
    border-top: 1px #009688 solid;
  }

  .dos-cell {
    border-bottom: 1px #009688 solid;
    border-right: 1px #009688 solid;
  }

  .dos-cell .text-input-md {
    margin: 2px 8px;
  }

}
