<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>
      <ion-icon name="stats"></ion-icon>&nbsp;&nbsp;Scrutation
    </ion-title>
    <ion-buttons end>
      <button ion-button end (click)="logout()" style="font-size: 24px">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment *ngIf="danses.length" [(ngModel)]="danseFilter" color="secondary">
    <ion-segment-button *ngFor="let danse of danses" value="{{ danse.identifier }}">
      <span class="capitalize">{{ danse.identifier }}</span>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content padding>
  <ion-row style="margin-top: 64px;">
    <ion-col col-12 text-center *ngIf="!competition">
      <ion-icon name="information-circle" color="primary"></ion-icon> Vous n'avez pas de compétition active
    </ion-col>
  </ion-row>

  <ion-grid
    *ngIf="competition && (!competition.judgingSystem ||  competition.judgingSystem  && competition.judgingSystem == SYSTEM21)">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div *ngIf="!countJudgeSheetsOfDanse(danseFilter)" class="no-sheets">
      <ion-icon name="information-circle"></ion-icon>
      Aucune feuille de juge n'a été enregistrée pour cette danse
    </div>
    <div *ngFor="let judgesheet of judgeSheets; let jSheetIdx=index;">
      <div *ngIf="!danseFilter || danseFilter == judgesheet.danse && judgesheet.judgeId">
        <ion-grid>
          <ion-row class="judge-title">
            <ion-col col-11>
              <h6 style="padding-top: 8px;" [ngClass]="{'score-error': isJudgeSheetSystem21Valid(judgesheet)}">Juge
                <span class="capitalize">
                  {{ judgesheet.judgeId }}</span>
              </h6>
            </ion-col>
            <ion-col col-1>
              <!-- <button *ngIf="competition && !competition.closed" ion-button icon-only color="danger" (click)="deleteJudgeSheet(judgesheet)">
                <ion-icon name="remove-circle"></ion-icon>
              </button> -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-1 class="dossard" *ngFor="let dossardAlias of dossardsAliases; let i=index">
              <span class="number">{{ dossardAlias }}</span>
            </ion-col>
            <ion-col col-1 class="dossard">
              <span class="number">#</span>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let critere of criteria">
            <ion-col col-1 class="rank uppercase">{{ critere }}</ion-col>
            <ion-col col-1 class="rate" *ngFor="let dossard of judgesheet.dossards">
              <ion-input [ngClass]="{'score-error': dossard[critere] === 0 || dossard[critere] === '0'}" type="text"
                placeholder="note" value="{{ dossard[critere] }}" disabled></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div>
      <ion-grid>
        <h6>Recap
          <span class="capitalize">{{ danseFilter }}</span>
        </h6>
        <ion-row>
          <ion-col col-1></ion-col>
          <ion-col col-1 class="dossard" *ngFor="let dossardAlias of dossardsAliases">
            <span class="number">{{ dossardAlias }}</span>
          </ion-col>
          <ion-col col-1 class="dossard">
            <span class="number">#</span>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let critere of criteria">
          <ion-col col-1 class="rank uppercase">{{ critere }}</ion-col>
          <ion-col col-1 class="rate" *ngFor="let dossard of dossards; let i=index">
            <ion-input type="text" placeholder="note" *ngIf="avgsCriteriaScoreOfDos && avgsCriteriaScoreOfDos.length"
              value="{{ avgsCriteriaScoreOfDos[i][danseFilter][critere] }}" disabled>
            </ion-input>
          </ion-col>
          <ion-col col-1 class="rank">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1 class="rank">TOTAL</ion-col>
          <ion-col col-1 class="rate" *ngFor="let dossard of dossards; let i=index">
            <ion-input type="text" placeholder="note" *ngIf="scoresPerDanseArr && scoresPerDanseArr.length"
              value="{{ scoresPerDanseArr[i][danseFilter] }}" disabled></ion-input>
          </ion-col>
          <ion-col col-1 class="rank">
          </ion-col>
        </ion-row>

        <h6>Overall</h6>
        <ion-row>
          <ion-col col-1></ion-col>
          <ion-col col-1 class="dossard" *ngFor="let dossardAlias of dossardsAliases">
            <span class="number">{{ dossardAlias }}</span>
          </ion-col>
          <ion-col col-1 class="dossard">
            <span class="number">#</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1 class="rank">SCORE</ion-col>
          <ion-col col-1 class="rate" *ngFor="let dossard of dossards; let i=index">
            <ion-input type="text" placeholder="note" *ngIf="overAllScoresArr.length" value="{{ overAllScoresArr[i] }}"
              disabled></ion-input>
          </ion-col>
          <ion-col col-1 class="rank">
            <!--{{ rankPerDanse(i, danseFilter) }}-->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1 class="rank">RANK</ion-col>
          <ion-col col-1 class="rate" *ngFor="let dossard of dossards; let i=index">
            <ion-input type="text" placeholder="note" *ngIf="rankOverallArr.length" value="{{ rankOverallArr[i] }}"
              disabled></ion-input>
          </ion-col>
          <ion-col col-1 class="rank">
            <!--{{ rankPerDanse(i, danseFilter) }}-->
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
  </ion-grid>

  <ion-scroll scrollX="true" style="width:100vw; height:100vw"
    *ngIf="competition && (competition.judgingSystem  && competition.judgingSystem == SKATING)">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div *ngIf="!countJudgeSheetsOfDanse(danseFilter)" class="no-sheets">
      <ion-icon name="information-circle"></ion-icon>
      Aucune feuille de juge n'a été enregistrée pour cette danse
    </div>
    <div *ngFor="let judgesheet of judgeSheets">
      <div *ngIf="!danseFilter || danseFilter == judgesheet.danse && judgesheet.judgeId">
        <ion-grid>
          <ion-row class="judge-title">
            <ion-col col-11>
              <h6 style="padding-top: 8px;">Juge
                <span class="capitalize">{{ judgesheet.judgeId }}</span>
                <span class="callback-error" *ngIf="isJudgeSheetSKValid(judgesheet) == TO_MUCH">
                  (Au delà du callback autorisé)
                </span>
                <span class="callback-error" *ngIf="isJudgeSheetSKValid(judgesheet) == NOT_ENOUGH">
                  (Callback insuffisant)
                </span>
              </h6>
            </ion-col>
            <ion-col col-1>
              <!-- <button *ngIf="competition && !competition.closed" ion-button icon-only color="danger" (click)="deleteJudgeSheet(judgesheet)">
                <ion-icon name="remove-circle"></ion-icon>
              </button> -->
            </ion-col>
          </ion-row>
          <ion-row nowrap class="back-grey">
            <ion-col col-1 class="rank">DOS</ion-col>
            <ion-col col-1 class="dossard" *ngFor="let dossardAlias of dossardsAliases">
              <span class="number">{{ dossardAlias }}</span>
            </ion-col>
          </ion-row>
          <ion-row nowrap>
            <ion-col col-1 class="rank uppercase"></ion-col>
            <ion-col col-1 class="rate" *ngFor="let dossard of judgesheet.dossards; let i=index">
              <ion-icon name="checkmark" color="primary" style="font-size: 24px;"
                *ngIf="dossard && isJudgeSheetSKValid(judgesheet) === 1"></ion-icon>
              <ion-icon name="checkmark" color="danger" style="font-size: 24px;"
                *ngIf="dossard && isJudgeSheetSKValid(judgesheet) != 1"></ion-icon>
            </ion-col>
            <!-- <ion-col col-1 class="rank">
            </ion-col> -->
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div>
      <ion-grid>
        <ion-row nowrap>
          <ion-col col-1 class="rank">TOTAL</ion-col>
          <ion-col col-1 class="rate" *ngFor="let dossard of dossards; let i=index">
            <ion-input type="text" placeholder="note" *ngIf="scoresPerDanseSKArr.length"
              value="{{ scoresPerDanseSKArr[i][danseFilter] }}" disabled></ion-input>
          </ion-col>
          <ion-col col-1 class="rank">
          </ion-col>
        </ion-row>
        <h6>Overall</h6>
        <ion-row nowrap>
          <ion-col col-1 class="rank">DOS</ion-col>
          <ion-col col-1 class="dossard" *ngFor="let dossardAlias of dossardsAliases">
            <span class="number">{{ dossardAlias }}</span>
          </ion-col>
          <!-- <ion-col col-1 class="dossard">
            <span class="number">#</span>
          </ion-col> -->
        </ion-row>
        <ion-row nowrap>
          <ion-col col-1 class="rank">SCORE</ion-col>
          <ion-col col-1 class="rate" *ngFor="let dossard of dossards; let i=index">
            <ion-input type="text" placeholder="note" value="{{ overAllSKArr[i] }}" disabled></ion-input>
          </ion-col>
          <!-- <ion-col col-1 class="rank"> -->
          <!--{{ rankPerDanse(i, danseFilter) }}-->
          <!-- </ion-col> -->
        </ion-row>
        <ion-row nowrap>
          <ion-col col-1 class="rank">RANK</ion-col>
          <ion-col col-1 class="rate" *ngFor="let dossard of dossards; let i=index">
            <ion-input type="text" [ngClass]="{'selected': rankOverallSK(i) > competition.nombreSelection}"
              placeholder="note" value="{{ rankOverallSKArr[i] }}" disabled></ion-input>
          </ion-col>
        </ion-row>
        <ion-row nowrap>
          <ion-col col-1 class="rank">Status</ion-col>
          <ion-col col-1 class="rate" *ngFor="let dossard of dossards; let i=index">
            <ion-icon color="secondary" name="checkmark" style="font-size: 24px;"
              *ngIf="rankOverallSK(i) <= competition.nombreSelection"></ion-icon>
            <ion-icon color="danger" name="close" style="font-size: 24px;"
              *ngIf="rankOverallSK(i) > competition.nombreSelection"></ion-icon>
          </ion-col>
          <ion-col col-1 class="rank">
            <!--{{ rankPerDanse(i, danseFilter) }}-->
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-scroll>

  <ion-grid *ngIf="competition && (competition.judgingSystem  && competition.judgingSystem == SKATING_FINAL)">
    <ion-row nowrap>
      <ion-col col-1 class="back-grey">RANK</ion-col>
      <ion-col col-2 *ngFor="let rank of [1, 2, 3, 4, 5, 6]; let i=index">{{ rank }}</ion-col>
    </ion-row>
    <div *ngFor="let judgeSheet of judgeSheets">
      <div nowrap *ngIf="judgeSheet.danse == danseFilter">
        <h6 style="padding-top: 8px;">Juge
          <span class="capitalize">{{ judgeSheet.judgeId }}</span>
        </h6>
        <ion-row nowrap>
          <ion-col col-1 class="rank">DOS</ion-col>
          <ion-col col-2 class="rank" *ngFor="let dossard of judgeSheet.finalSkatingDossardsOrder; let i=index;">
            {{ dossard }}
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid *ngIf="competition">
    <ion-row>
      <ion-col col-3 class="competition-info-label">Titre</ion-col>
      <ion-col col-2 class="competition-info-label">Discipline</ion-col>
      <ion-col col-2 class="competition-info-label">Date</ion-col>
      <ion-col col-2 class="competition-info-label">Heure</ion-col>
      <ion-col col-2 class="competition-info-label">Jugement</ion-col>
      <ion-col col-1 class="competition-info-label">Version</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3 class="competition-info" style="text-transform: capitalize;">
        {{ competition.titre }}
      </ion-col>
      <ion-col col-2 class="competition-info">
        {{ competition.type.name }}
      </ion-col>
      <ion-col col-2 class="competition-info">
        {{ competition.date | formatDate }}
      </ion-col>
      <ion-col col-2 class="competition-info">
        {{ competition.date | formatTime }}
      </ion-col>
      <ion-col col-2 class="competition-info">
        {{ jugement }}
      </ion-col>
      <ion-col col-1 class="competition-info">1.0.0</ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>