<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>
      <ion-icon name="stats"></ion-icon>&nbsp;&nbsp;Scrutation
    </ion-title>
    <ion-buttons end>
      <button ion-button end (click)="logout()" style="font-size: 18px">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment *ngIf="danses.length" [(ngModel)]="danseFilter" color="secondary">
    <ion-segment-button *ngFor="let danse of danses" value="{{ danse.identifier }}">
      <span class="capitalize">{{ danse.identifier }}</span>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="!countJudgeSheetsOfDanse(danseFilter)" class="no-sheets">
    <ion-card-content text-center>
      <ion-icon name="information-circle"></ion-icon>
      Aucune feuille de juge n'a été enregistrée pour cette danse
    </ion-card-content>
  </ion-card>
  <div *ngFor="let judgesheet of judgeSheets">
    <div *ngIf="!danseFilter || danseFilter == judgesheet.danse && judgesheet.judgeId">
      <ion-grid>
        <ion-row class="judge-title">
          <ion-col col-11 sty>
            <h6 style="padding-top: 8px;">Juge <span class="capitalize">{{ judgesheet.judgeId }}</span></h6>
          </ion-col>
          <ion-col col-1>
            <button *ngIf="competition && !competition.closed" ion-button icon-only color="danger" (click)="deleteJudgeSheet(judgesheet)">
              <ion-icon name="remove-circle"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1></ion-col>
          <ion-col col-1 class="dossard" *ngFor="let dossardAlias of dossardsAliases">
            <span class="number">{{ dossardAlias }}</span>
          </ion-col>
          <ion-col col-1 class="dossard"><span class="number">#</span></ion-col>
        </ion-row>
        <ion-row *ngFor="let critere of criteria">
          <ion-col col-1 class="rank uppercase">{{ critere }}</ion-col>
          <ion-col col-1 class="rate" *ngFor="let dossard of judgesheet.dossards">
            <ion-input type="text" placeholder="note" value="{{ dossard[critere] }}" disabled></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <h5 class="judge-title">Recap <span class="capitalize">{{ danseFilter }}</span></h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col col-1 class="dossard" *ngFor="let dossardAlias of dossardsAliases">
          <span class="number">{{ dossardAlias }}</span>
        </ion-col>
        <ion-col col-1 class="dossard"><span class="number">#</span></ion-col>
      </ion-row>
      <ion-row *ngFor="let critere of criteria">
        <ion-col col-1 class="rank uppercase">{{ critere }}</ion-col>
        <ion-col col-1 class="rate" *ngFor="let dossard of dossards; let i=index">
          <ion-input type="text" placeholder="note" value="{{ meanCriteriaScoreOfDossardId(i, critere) }}" disabled></ion-input>
        </ion-col>
        <ion-col col-1 class="rank">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1 class="rank">TOTAL</ion-col>
        <ion-col col-1 class="rate" *ngFor="let dossard of dossards; let i=index">
          <ion-input type="text" placeholder="note" value="{{ scoresPerDanse(i) }}" disabled></ion-input>
        </ion-col>
        <ion-col col-1 class="rank">
        </ion-col>
      </ion-row>

      <h5>Overall</h5>
      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col col-1 class="dossard" *ngFor="let dossardAlias of dossardsAliases">
          <span class="number">{{ dossardAlias }}</span>
        </ion-col>
        <ion-col col-1 class="dossard"><span class="number">#</span></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1 class="rank">SCORE</ion-col>
        <ion-col col-1 class="rate" *ngFor="let dossard of dossards; let i=index">
          <ion-input type="text" placeholder="note" value="{{ overallScore(i) }}" disabled></ion-input>
        </ion-col>
        <ion-col col-1 class="rank">
          <!--{{ rankPerDanse(i, danseFilter) }}-->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1 class="rank">RANK</ion-col>
        <ion-col col-1 class="rate" *ngFor="let dossard of dossards; let i=index">
          <ion-input type="text" placeholder="note" value="{{ rankOverall(i) }}" disabled></ion-input>
        </ion-col>
        <ion-col col-1 class="rank">
          <!--{{ rankPerDanse(i, danseFilter) }}-->
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col col-12 class="legend" *ngIf="competition" text-center>
      {{ competition.titre }} - {{ competition.type.name }} - {{ competition.date | formatDate }}
    </ion-col>
  </ion-row>
</ion-footer>