<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Feuille de scrutation</ion-title>
    <ion-buttons end>
      <button ion-button end (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-segment [(ngModel)]="danseFilter" color="secondary">
    <ion-segment-button *ngFor="let danse of danses" value="{{ danse }}">
      <span class="capitalize">{{ danse }}</span>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content padding>
  <div *ngFor="let judgesheet of judgeSheets">

    <ion-card *ngIf="!countJudgeSheetsOfDanse(danseFilter)" class="no-sheets">
      <ion-card-content text-center>
        <ion-icon name="information-circle"></ion-icon>
        Aucune feuille de juge n'est disponible pour cette danse
      </ion-card-content>
    </ion-card>

    <div *ngIf="!danseFilter || danseFilter == judgesheet.danse && judgesheet.judgeId">
      <h1>Juge <span class="capitalize">{{ judgesheet.judgeId }}</span></h1>
      <ion-grid>
        <ion-row>
          <ion-col col-2></ion-col>
          <ion-col col-1 class="dossard"><span class="number">1</span></ion-col>
          <ion-col col-1 class="dossard"><span class="number">2</span></ion-col>
          <ion-col col-1 class="dossard"><span class="number">3</span></ion-col>
          <ion-col col-1 class="dossard"><span class="number">4</span></ion-col>
          <ion-col col-1 class="dossard"><span class="number">5</span></ion-col>
          <ion-col col-1 class="dossard"><span class="number">6</span></ion-col>
          <ion-col col-1 class="dossard"><span class="number">7</span></ion-col>
          <ion-col col-1 class="dossard"><span class="number">8</span></ion-col>
          <ion-col col-1 class="dossard"><span class="number">9</span></ion-col>
          <ion-col col-1 class="dossard"><span class="number">10</span></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>TQ</ion-col>
          <ion-col col-1 class="rate" *ngFor="let dossard of judgesheet.dossards">
            <ion-input type="text" placeholder="note" value="{{ dossard.tq }}" disabled></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>MM</ion-col>
          <ion-col col-1 class="rate" *ngFor="let dossard of judgesheet.dossards">
            <ion-input type="text" placeholder="note" value="{{ dossard.mm }}" disabled></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>PS</ion-col>
          <ion-col col-1 class="rate" *ngFor="let dossard of judgesheet.dossards">
            <ion-input type="text" placeholder="note" value="{{ dossard.ps }}" disabled></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>CP</ion-col>
          <ion-col col-1 class="rate" *ngFor="let dossard of judgesheet.dossards">
            <ion-input type="text" placeholder="note" value="{{ dossard.cp }}" disabled></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>

<ion-footer>

</ion-footer>