popover-competition {
  .components-list {
    margin: 32px auto;
    ion-item.item-block:first-child {
      border-top: none;
    }

    ion-item.item-block:last-child {
      border-bottom: none;
    }
  }

  .popover-title {
    display: inline-block;
    margin: 8px auto;
    font-size: 1.4rem;
    letter-spacing: 2px;
  }
}
