<ion-row class="popover-header">
  <h2 class="popover-title">
    COMPETITION
  </h2>
</ion-row>

<ion-row style="margin-top: 16px">
  <form style="width: 100%;" #competitionForm="ngForm" name="" (ngSubmit)="addCompetition(competitionForm)">
    <ion-item>
      <ion-input name="titre" #titre="ngModel" type="text" placeholder="Titre" [(ngModel)]="competitionTitre" required></ion-input>
    </ion-item>
    <div *ngIf="titre.errors && (titre.dirty || titre.touched || submitAttempted)" class="alert alert-danger">
      <div [hidden]="!titre.errors.required" style="margin-top: 8px; text-align: center; color: red; font-size: 12px;">
        Le titre est requis
      </div>
    </div>
    <ion-list radio-group class="danses-list" [(ngModel)]="competitionTypeId" name="danseType">
      <ion-item *ngFor="let type of competitionsType">
        <ion-label>{{ type.name }}</ion-label>
        <ion-radio value="{{ type.id }}"></ion-radio>
      </ion-item>
    </ion-list>
  </form>
</ion-row>
<ion-row>
  <ion-col col-12 text-center>
    <button style="display: block; width: 100%; margin: 8px 0;" ion-button (click)="competitionForm.ngSubmit.emit()">
      AJOUTER
    </button>
  </ion-col>
</ion-row>