<ion-header>
  <ion-navbar #navbar>
    <ion-buttons start>
      <!-- <button ion-button icon-only (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </button> -->
    </ion-buttons>
    <ion-title text-center *ngIf="!judgeId || judgeId == 'null'" class="config-error-msg">
      <ion-icon name="alert" color="danger"></ion-icon>Votre feuille n'a pas été configurée correctement, veuillez vous
      réferer au scrutateur.
    </ion-title>
    <ion-title text-center *ngIf="judgeId">
      <ion-icon name="paper"></ion-icon>Feuille Juge
      <span class="uppercase">{{ judgeId }}</span> -
      <span class="uppercase danse-name">{{ danse }}</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="lockScores()">
        <ion-icon name="unlock" *ngIf="scoresLocked"></ion-icon>
        <ion-icon name="lock" *ngIf="!scoresLocked"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="scoresForm"
    *ngIf="currentCompetition && !currentCompetition.judgingSystem || currentCompetition.judgingSystem == SYSTEM21">
    <ion-grid>
      <ion-row *ngIf="dossardsAliases1">
        <ion-col col-2></ion-col>
        <ion-col col-2 class="dossard" *ngFor="let dossardAlias of dossardsAliases1">
          <span class="number">{{ dossardAlias }}</span>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let critere of criteria">
        <ion-col col-2>
          <span class="uppercase">{{ critere }}</span>
        </ion-col>
        <ion-col col-2 class="rate" *ngFor="let indexDossard of [0, 1, 2, 3, 4];">
          <ion-input type="number" formControlName="{{critere + indexDossard}}" placeholder="note"
            [(ngModel)]="dossards[indexDossard][critere]"
            [ngClass]="{'invalid': scroresForm && !scroresForm.controls[critere + indexDossard].valid}"
            (ionChange)="inputChanged()"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="dossardsAliases2">
        <ion-col col-2></ion-col>
        <ion-col col-2 class="dossard" *ngFor="let dossardAlias of dossardsAliases2">
          <span class="number">{{ dossardAlias }}</span>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let critere of criteria">
        <ion-col col-2>
          <span class="uppercase">{{ critere }}</span>
        </ion-col>
        <ion-col col-2 class="rate" *ngFor="let indexDossard of [5, 6, 7, 8, 9];">
          <ion-input type="number" *ngIf="criteria" formControlName="{{critere + indexDossard}}" placeholder="note"
            [(ngModel)]="dossards[indexDossard][critere]"
            [ngClass]="{'invalid': scroresForm && !scroresForm.controls[critere + indexDossard].valid}"
            (ionChange)="inputChanged()"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-grid
    *ngIf="currentCompetition && currentCompetition.judgingSystem && currentCompetition.judgingSystem == SKATING">
    <ion-row>
      <h4 *ngIf="checkboxColor == 'warning'" style="color: orange">Il vous manque {{ remainingCallBack }} callback</h4>
      <h4 *ngIf="checkboxColor == 'danger'" style="color: #f53d3d">Vous devez retirer {{ remainingCallBack }} callback
      </h4>
      <h4 *ngIf="checkboxColor == 'true'" style="color: #2196F3">OK</h4>
    </ion-row>
    <ion-row *ngFor="let numeroPassage of nombrePassages; let j=index">
      <!-- <ion-col col-1 *ngFor="let dossardAlias of dossardsAliases; let i=index;" class="dossard-checkbox"> -->
      <ion-list-header class="passage-header">
        Passage {{ numeroPassage + 1 }}
      </ion-list-header>
      <ion-col col-1 *ngFor="let dossardIndexInPassage of passages[j]" class="dossard-checkbox">
        <ion-label style="font-size: 16px; font-weight: bold;">{{ dossardsAliases[dossardIndexInPassage] }}</ion-label>
        <ion-checkbox [disabled]="scoresLocked" [(ngModel)]="dossardsSkating[dossardIndexInPassage]"
          (ionChange)="checkBoxChanged()" color="{{ checkboxColor }}"></ion-checkbox>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <form> -->
  <ion-grid
    *ngIf="currentCompetition && currentCompetition.judgingSystem && currentCompetition.judgingSystem == SKATING_FINAL">
    <ion-row>
      <h4 *ngIf="!skFinalIsValid" style="color: #f53d3d">Votre classement est incorrect</h4>
    </ion-row>
    <ion-row nowrap>
      <ion-col col-1 class="rank">RANK</ion-col>
      <ion-col col-2 class="rank" style="font-size: 16px; font-weight: bold;" *ngFor="let rank of [1, 2, 3, 4, 5, 6]">
        {{ rank }}
      </ion-col>
    </ion-row>
    <ion-row nowrap>
      <ion-col col-1 class="rank">DOSS</ion-col>
      <ion-col col-2 class="rank" *ngFor="let i of [0, 1, 2, 3, 4, 5];">
        <ion-select [(ngModel)]="finalSkatingDossardsOrder[i]" (ionChange)="rankChanged()" interface="popover"
          [ngClass]="{'sk-invalid': finalSKCounters[i] && finalSKCounters[i] > 1}">
          <ion-option *ngFor="let dossard of dossardsAliasesSKFinal; let i=index" [value]="i">
            {{ dossard }}
          </ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- </form> -->
</ion-content>

<ion-footer
  *ngIf="currentCompetition && currentCompetition.judgingSystem && currentCompetition.judgingSystem == SYSTEM21">
  <ion-grid *ngIf="criteriaLongObj">
    <ion-row>
      <ion-col col-3 class="legend" *ngFor="let critere of criteriaLongObj">
        <strong>{{ critere.short }}</strong>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3 *ngFor="let critere of criteriaLongObj">
        {{ critere.name }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>